argon2-cffi
argon2-cffi-bindings 
attrs 
backcall 
bayesian-optimization
beautifulsoup4 
bleach 
Bottleneck
certifi 
cffi 
colorama 
cycler
Cython==0.29.30
debugpy 
decorator 
defusedxml 
entrypoints 
et-xmlfile==1.1.0
fastjsonschema 
fonttools==4.33.3
future==0.18.2
grakel==0.1.8
imageio==2.19.2
importlib-metadata 
importlib-resources 
ipykernel 
ipython
ipython-genutils 
jedi 
Jinja2 
joblib 
jsonschema 
jupyter-client 
jupyter-core 
jupyterlab-pygments 
kiwisolver 
lime==0.2.0.1
MarkupSafe 
matplotlib==3.5.1
matplotlib-inline 
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
mpld3==0.5.7
munkres==1.1.4
nbclient 
nbconvert 
nbformat
nest-asyncio 
networkx==2.8.7
nose==1.3.7
notebook 
numexpr 
numpy
openpyxl 
packaging 
pandas 
pandocfilters 
parso 
pbr==5.9.0
pickleshare 
Pillow==9.1.1
plotly 
prometheus-client 
prompt-toolkit 
pycparser
Pygments 
pyGPs==1.3.5
pyparsing==3.0.9
pyrsistent 
pysmiles==1.0.1
python-dateutil 
pytz==2021.3
PyWavelets==1.3.0
pyzmq
rdkit 
scikit-image==0.19.2
scikit-learn 
scipy 
sip
six 
soupsieve 
tenacity 
terminado 
testpath 
threadpoolctl 
tifffile==2021.11.2
tornado 
tqdm==4.64.0
traitlets 
typing_extensions==4.2.0
wcwidth 
webencodings==0.5.1
wincertstore==0.2
zipp 
